<!DOCTYPE html>
<html>
  
    <%- include('./head.ejs') %>
  
    <body>
    <h1>Editar item</h1> 
    <form action="/updateOficina/<%= item.id %>" method="post">
    <input type="text" name="denominacion" value="<%= item.denominacion %>" required>
    <button type="submit">Update</button>
    </form>
  </body>
</html>